.navbar {
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    font-size: 14px;
    gap: 32px;
}

.navbar__branding {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    color: #030303;
    font-weight: 500;
    font-size: 20px;
}

.navbar__links {
    margin-left: auto;
    display: flex;
    gap: 32px;
}

.navbar__link {
    background-color: transparent;
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #030303;
}

.navbar__link:hover {
    text-decoration: underline;
}

.navbar__button {
    background-color: #030303;
    display: block;
    font-size: 12px;
    padding: 12px 9px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.navbar__button:hover {
    text-decoration: underline;
    background-color: #444444;
}
