.home-auctions {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
    gap: 16px;
}

.home-auctions__item {
    max-width: 33%;
    flex: 1;
}

.home-auctions-sort {
    margin: auto;
    display: block;
    padding: 5px 15px;
    margin-bottom: 20px;
    border: 1px solid #c1c1c1;
    outline: none;
    border-radius: 5px;
}
